---
import { servicesData } from '../../data/services';
---

<section class="px-8 lg:px-16 py-24 lg:py-32">

  <!-- Capçalera -->
  <div class="flex flex-col lg:flex-row lg:items-end justify-between
              gap-6 mb-16">
    <div>
      <p class="section-tag mb-3">El que fem</p>
      <h2 class="section-title text-offwhite">
        Serveis que fan<br>
        <em class="italic text-coral">créixer</em> el teu negoci
      </h2>
    </div>
    <!-- <a href="/serveis" class="btn-secondary shrink-0">
      Veure tots els serveis →
    </a> -->
  </div>

  <!-- Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3
              border border-white/8 divide-x divide-y divide-white/8">
    {servicesData.map(({ num, icon, title, desc, href }) => (
      // <a
      //   href={href}
      //   class="group relative flex flex-col gap-4 p-8 lg:p-10
      //          bg-transparent hover:bg-white/3 transition-colors duration-300"
      // >
      <div class="group relative flex flex-col gap-4 p-8 lg:p-10
                bg-transparent hover:bg-white/3 transition-colors duration-300">

        <!-- Número decoratiu -->
        <span class="font-display text-5xl font-gray-300 text-white/25
                     leading-none select-none">
          {num}
        </span>

        <!-- Icona -->
        <span class="text-2xl -mt-2"><img src={icon.src} alt={title} /></span>

        <!-- Títol -->
        <h3 class="font-display text-xl font-bold text-offwhite
                   group-hover:text-coral transition-colors duration-300">
          {title}
        </h3>

        <!-- Descripció -->
        <p class="text-sand text-sm font-light leading-relaxed flex-1">
          {desc}
        </p>

        <!-- Arrow -->
        <span class="text-white/20 text-lg absolute top-8 right-8
                     transition-all duration-300
                     group-hover:text-coral group-hover:translate-x-1
                     group-hover:-translate-y-1">
          {/* ↗ */}
        </span>
        </div>
      // </a>
    ))}
  </div>

</section>